@import "./reset.css";

body {
  background-color: burlywood;
  color: brown;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.converter {
  text-align: center;
}

.converter__title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.converter__select {
  font-size: 1.2rem;
  width: 100%;
  height: 3rem;
  text-align: center;
  background-color: burlywood;
  border: 1px solid brown;
  color: brown;
  margin-bottom: 2rem;
}

.converter__unit {
  font-size: 1.2rem;
}

.converter__unit input {
  margin: 0 0.75rem;
  font-size: 1.2rem;
  background-color: burlywood;
  border: none;
  border-bottom: 1px solid brown;
}

.converter__unit input:disabled {
  border: none;
}

.converter__config {
  margin-top: 2rem;
}

.converter__config button {
  width: 40%;
  margin-left: 2rem;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  background-color: burlywood;
  color: brown;
  border: 1px solid brown;
}
